<a href="/recipes/category/{{_id}}">
  <h2>{{title}}</h2>
  <img class="category-img" src="{{picture}}" alt="{{title}}" />
</a>
{{!-- {{#if favorited}}
  <form
    method="POST"
    action="/favorite/{{_id}}/unfavorite?category={{category}}"
  >
    <input type="submit" value="Unfavorite" />
  </form>
{{else}}
  <form method="POST" action="/favorite/{{_id}}?category={{category}}">
    <button class="favoriteBtn" type="submit">Favorite</button>
  </form>
{{/if}} --}}

{{#if favorited}}
  <form
    method="POST"
    action="/favorite/{{_id}}/unfavorite?category={{category}}"
  >
    <button class="hover" type="submit">
      <img
        class="heartbtn"
        src="/images/lemon-button-white.png"
        alt="unfavorite"
      />
    </button>
  </form>
{{else}}
  <form method="POST" action="/favorite/{{_id}}?category={{category}}">
    <button class="hover" type="submit">
      <img class="heartbtn" src="/images/lemon-button2.png" alt="favorite" />
    </button>
  </form>
{{/if}}