<a href="/recipes/category/{{_id}}">
  <h2>{{title}}</h2>
  <img src="{{picture}}" alt="{{title}}" />
</a>
{{#if favorited}}
  <form
    method="POST"
    action="/favorite/{{_id}}/unfavorite?category={{category}}"
  >
    <input type="submit" value="Unfavorite" />
  </form>
{{else}}
  <form method="POST" action="/favorite/{{_id}}?category={{category}}">
    <button type="submit">Favorite</button>
  </form>
{{/if}}