
<h3>{{selfcare.category}}</h3>
<h1>{{selfcare.title}}</h1>

<img src="{{selfcare.picture}}" alt="{{selfcare.title}}" />

<ul>
  {{#each selfcare.picture}}
    <li>{{this}}</li>
  {{/each}}
</ul>

<h3>
  <i>
<a href="javascript:history.back()">Go back</a>
</h3>
</i>