<a href="/recipes">Recipes</a>
<h1>Your recipes</h1>

<div>
  <ul>
    {{#each publication}}
      {{> publicationPartial }}
    {{/each}}
  </ul>
</div>

{{!--
<h2> {{recipe.category}}</h2>
  <a href="/recipes/category/{{_id}}">
    <h2>{{title}}</h2>
    <img src="{{picture}}" alt="{{title}}" />
--}}


<h3>
  <i>
    <a href="/account">Go back</a>
  </i>
</h3>

Iterate over publications and output publication partial



