<h1>Single recipe</h1>

<h3>{{recipe.category}}</h3>

<h1>{{recipe.title}}</h1>
<img src="{{recipe.picture}}" alt="{{recipe.title}}" />
<ul>
  {{#each recipe.ingredients}}
    {{! what to write in the "li" if not "this"?}}
    <li>{{this}}</li>
  {{/each}}
</ul>
<p>{{recipe.instruction}}</p>

<a href="/recipes/category">Go back</a>