<h3>{{recipe.category}}</h3>
<h1>{{recipe.title}}</h1>

<img src="{{recipe.picture}}" alt="{{recipe.title}}" />
{{#if favorited}}
  <form
    method="POST"
    action="/favorite/{{_id}}/unfavorite?category={{category}}"
  >
    <input type="submit" value="Unfavorite" />
  </form>
{{else}}
  <form method="POST" action="/favorite/{{_id}}?category={{category}}">
    <button type="submit">Favorite</button>
  </form>
{{/if}}

<ul>
  {{#each recipe.ingredients}}
    <li>{{this}}</li>
  {{/each}}
</ul>
<p>{{recipe.instruction}}</p>

<h3 class="goBack">
  <a href="javascript:history.back()">Go back</a>
</h3>