<h3 class="lemonFont">{{category}}</h3>
<h1>{{title}}</h1>

<img src="{{picture}}" alt="{{title}}" />
{{#if favorited}}
  <form
    method="POST"
    action="/favorite/{{_id}}/unfavorite?category={{category}}"
  >
    <button class="hover favBtn heartbtn" type="submit">
      <img src="/images/lemon-button-white.png" alt="unfavorite" />
    </button>
  </form>
{{else}}
  <form method="POST" action="/favorite/{{_id}}?category={{category}}">
    <button class="hover favBtn heartbtn" type="submit">
      <img src="/images/lemon-button2.png" alt="favorite" />
    </button>
  </form>
{{/if}}

<ul>
  {{#each ingredients}}
    <li>{{this}}</li>
  {{/each}}
</ul>
<p>{{instruction}}</p>

<h3 class="goBack">
  <a href="javascript:history.back()"><img
      alt="goBack"
      src="/images/go-back.png"
      class="arrowBack"
    /></a>
</h3>