<h3>{{recipe.category}}</h3>
<h1>{{recipe.title}}</h1>

<img src="{{recipe.picture}}" alt="{{recipe.title}}" />

<ul>
  {{#each recipe.ingredients}}
    <li>{{this}}</li>
  {{/each}}
</ul>
<p>{{recipe.instruction}}</p>

<h3>
  <i>
    <a href="/recipes/category/:category">Go back</a>
  </i>
</h3>